<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Your Saved ITR Documents</h2>
<ul>
  <% files.forEach(file => { %>
    <li><a href="/generated/<%= file %>" target="_blank"><%= file %></a></li>
  <% }) %>
</ul>
</body>
</html>